{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Авторизация</title>
<meta name="description" content="test warehouse">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ static('vendors/feather/feather.css') }}">
<link rel="stylesheet" href="{{ static('vendors/ti-icons/css/themify-icons.css') }}">
<link rel="stylesheet" href="{{ static('vendors/css/vendor.bundle.base.css') }}">
<link rel="stylesheet" href="{{ static('css/vertical-layout-light/style.css') }}">
<link rel="stylesheet" href="{{ static('images/favicon.png') }}">
{% endblock %}